body {
    background-color: #1F2833;
}

.reset {
    display: flex;
    justify-content: center;
}

.mid , .menu , .user{
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    justify-content: center;
}

.reset , .title {
    color: #66FCF1;
}

.score {
    color: #1F2833;
    display: flex;
    justify-content:center;
}

.mid_links{
    height: 500px;
    width: 200px;
    border-style: solid;
    background-color: #45A29E;
    margin-left: 20px;
    flex-grow: 3;
}

.mid_rechts {
    display: flex;
    height: 500px;
    width: 200px;
    margin-left: 20px;
    flex-grow: 1;
    flex-direction: column;
}

.mid_rechts_een {
    border-style: solid;
    background-color: #45A29E;
    margin-bottom: 20px;
    flex-grow: 1;
}

.mid_rechts_twee {
    border-style: solid;
    background-color: #45A29E;
    flex-grow: 1;
}

img {
    width: 50px;
    height: 50px;
    margin:10x;
}

div {
    border-radius: 10px;
}