body {
  background-color: #1f2833;
}

.reset,
.title_lb {
  display: flex;
  justify-content: center;
  color: #1f2833;
}

.mid,
.menu,
.user {
  display: flex;
  flex-direction: row;
}

.title {
  display: flex;
  justify-content: center;
}

.reset,
.title {
  color: #66fcf1;
}

.score {
  color: #1f2833;
  display: flex;
  justify-content: center;
}

.leaderboard {
  display: flex;
  justify-content: center;
}

th,
td {
  border: 1px solid;
  color: #1f2833;
}

.me {
  background-color: yellow;
}

h2 {
  color: #1f2833;
}

span {
  white-space: pre;
}

.mid_links_top {
  margin: 10px;
  border: 1px solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.mid_links {
  display: flex;
  flex-direction: column;
  border-style: solid;
  background-color: #c5c6c7;
  margin-left: 20px;
  flex-grow: 3;
  align-items: center;
}
input[type="submit"] {
  background-color: #1f2833;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.mid_links_mid {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  margin-top: 5%;
}

.mid_links_klein {
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 2%;
  width: 23%;
  height: auto;
  background-color: #45a29e;
  text-align: center;
  padding:5px;
}

.mid_links_onder {
  margin-bottom: 5%;
  margin-top: 4%;
  padding: 1%;
  width: auto;
  height: 70%;
  background-color: #45a29e;
}

.mid_rechts {
  display: flex;
  margin-left: 20px;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  background-color: #c5c6c7;
<<<<<<< HEAD
  margin-left: 2rem;
  margin-right: 2rem;
  flex-grow: 1;
<<<<<<< HEAD
  /* display: flex;
    height: auto;
    width: 200px;
    margin-left: 20px;
    flex-grow: 1;
    flex-direction: column;
    border-style: solid;
    background-color: #c5c6c7;
    flex-grow: 1; */
}

.mid_links_top {
  display: flex;
  flex-grow: 6;
=======
>>>>>>> 9d4b709ca696824b2d0c83335b2a680e75e26909
=======
  justify-content: space-around;
>>>>>>> f0dcd0bb1c37cb2e512d834024912139734a724f
}

.reset {
  width: 50px;
  height: 50px;
  margin-left: 40%;
}

.cancel {
  width: 20px;
  height: 20px;
<<<<<<< HEAD
  padding-left: 90%;
=======
  display: flex;
  margin-left: 80%;
>>>>>>> 9d4b709ca696824b2d0c83335b2a680e75e26909
}

div {
  border-radius: 10px;
}

.select {
  display: flex;
  justify-content: center;
}