body {
    background-color: #1F2833;
}

.reset, .title_lb{
    display: flex;
    justify-content: center;
    color: #1F2833;
}

.mid , .menu , .user{
    display: flex;
    flex-direction: row;  
}

.title {
    display: flex;
    justify-content: center;
}

.reset , .title {
    color: #66FCF1;
}

.score {
    color: #1F2833;
    display: flex;
    justify-content:center;
}

.leaderboard {
    display: flex;
    justify-content: center;
}

th, td{
    border: 1px solid;
    color: #1F2833;
}

.me {
    background-color: yellow;
}

h2 {
    color: #1F2833;
}

.mid_links{
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 200px;
    border-style: solid;
    background-color: #c5c6c7;
    margin-left: 20px;
    flex-grow: 3;
    flex-wrap: wrap;
    align-items: center;
}

.mid_links_klein {
    margin-left: 3%;
    width:20%;
    height:40%;
    background-color: #45A29E;
    text-align: center;
}

.mid_rechts {
    display: flex;
    height: 500px;
    width: 200px;
    margin-left: 20px;
    flex-grow: 1;
    flex-direction: column;
    border-style: solid;
    background-color: #c5c6c7;
    margin-bottom: 20px;
    flex-grow: 1;
}


img {
    width: 50px;
    height: 50px;
    margin:10x;
}

div {
    border-radius: 10px;
}